{{ define "main" }}
<div id="projects">
	{{ range .Site.Data.projects }}
		<div class="project">
			<h1>{{ .name }}</h1>
			<span class="separator">|</span>
			<span>{{ .tagline }}</span>
			<div class="meta">
				<span class="time">{{ .time }}</span>
				<span class="toolstack">| toolstack:</span> {{ .tools }}
			</div>
			<div class="description">{{ .description | markdownify }}</div>
			{{ if or .url .github }}
				<div class="links"
					{{ if and .url .github }}
						id="links_3"
					{{ else if .github }}
						id="links_2"
					{{ else }}
						id="links_1"
					{{ end }}>
					{{ if .url }}
						<div class="website">
							<a href="{{ .url }}">view online</a>
						</div>
					{{ end }}
					{{ if .github }}
						<div class="github">
							<a href="https://github.com/{{ .github.url }}">view on GitHub</a>
						</div>
						<div class="download">
							<a href="https://github.com/{{ .github.url }}/archive/{{ .github.branch }}.zip">download zip</a>
						</div>
					{{ end }}
				</div>
			{{ end }}
		</div>
	{{ end }}
</div>
{{ end }}
