{{ define "main" }}
<div id="projects">
	{{ range .Site.Data.projects }}
		<div class="project">
			{{ $link := "" }}
			{{ if .github }}
				{{ $link = printf "https://github.com/%s" .github.url }}
			{{ else if .url }}
				{{ $link = .url }}
			{{ end }}
			<h1>{{ if $link }}<a href="{{ $link }}">{{ .name }}</a>{{ else }}{{ .name }}{{ end }}</h1>
			<span class="time">{{ .time }}</span>
			<div class="description">{{ .description | markdownify }}</div>
			<div class="meta">
				<span class="toolstack">{{ .tools }}</span>
			</div>
		</div>
	{{ end }}
</div>
{{ end }}
