@import variables

div.error
	padding-top: 15%
	text-align: center

	span.error
		color: $colour-primary
		font-family: $font-mono
		font-size: 2.2em

		span
			&#light
				color: $colour-secondary

			&#dark
				color: $colour-highlight
