@import variables

div#cloud
	margin-left: auto
	margin-right: auto
	text-align: center
	width: 100%
	max-width: 340px

	a
		font-family: $font-mono
		font-size: 0.85em
		letter-spacing: 0.03em
		padding: 8px
		text-transform: uppercase

	span > a
		padding: 0
