@import mixins
@import variables

pre
	overflow: auto
	padding: 10px
	margin: 0
	white-space: pre

div.highlight
	@include vendor(border-radius, 4px)

	background-color: rgba($colour-primary, 0.06)
	border: 1px solid rgba($colour-primary, 0.2)
	font-family: $font-mono
	font-size: 0.9em
	line-height: 1.4em
	margin-bottom: 20px

code.inline
	background-color: rgba($colour-primary, 0.1)
	font-family: $font-mono
	padding: 2px 4px
