@import mixins
@import variables

@include font("projects")

div#projects
	padding-bottom: 50px

div.project
	border-top: 2px dashed rgba($colour-primary, 0.25)
	margin-top: 40px
	padding-top: 40px

	&:first-child
		border-top: 0
		margin-top: 0
		padding-top: 0

	>h1
		display: inline
		font-size: 1.9em

		>a
			font-size: 0.5em
			font-weight: normal
			padding-left: 10px
			text-transform: none

	>span.separator
		color: $colour-secondary
		margin: 0 8px

	>span:not(.separator)
		color: $colour-secondary
		font-family: $font-body
		font-size: 1.05em

	>div.meta
		color: $colour-secondary
		font-size: 0.92em
		margin-bottom: 3px
		margin-top: 10px

		span.time
			color: $colour-secondary
			font-family: $font-mono
			font-size: 0.9em
			font-weight: 500
			letter-spacing: 0.04em
			text-transform: uppercase

		span.toolstack
			color: $colour-secondary
			font-weight: 500

	>div.description
		margin-top: 16px

		p
			margin-top: 0px

		ul
			list-style: disc inside
			margin-left: 24px
			padding-left: 2em
			text-indent: -2em

		sup
			font-size: 0.7em
			vertical-align: super
			line-height: 0

	>div.links
		font-family: projects
		margin-top: 20px
		text-align: center
		width: 100%

		&#links_1 > div
			width: 100%

		&#links_2 > div
			width: 50%

		&#links_3 > div
			width: 33.33%

		div
			display: inline-block
			font-size: 0.95em
			min-width: 150px
			text-align: center

			&.website:before
				content: "\e802"

			&.download:before
				content: "\e800"

			&.github:before
				content: "\e801"

			a
				font-family: "Source Sans Pro"
				padding-left: 5px
