@import mixins
@import variables

@include font("projects")

div#speaking
	padding-bottom: 50px

div.speak
	border-top: 2px dashed rgba($colour-primary, 0.25)
	margin-top: 40px
	padding-top: 40px

	&:first-child
		border-top: 0
		margin-top: 0
		padding-top: 0

	>h1
		display: inline
		font-size: 1.5em

	>span.separator
		color: $colour-secondary
		margin: 0 8px

	>span:not(.separator)
		color: $colour-accent
		font-family: $font-mono
		font-size: 0.85em
		letter-spacing: 0.03em
		text-transform: uppercase

	>div.meta
		color: $colour-accent
		font-family: $font-mono
		font-size: 0.82em
		letter-spacing: 0.03em
		margin-bottom: 3px
		margin-top: 6px
		text-transform: uppercase

		span.time
			font-weight: 500

	>div.description
		margin-top: 16px

	>div.links
		font-family: projects
		margin-top: 20px
		text-align: center
		width: 100%

		div
			display: inline-block
			font-size: 0.95em
			min-width: 150px
			text-align: center

			&.website:before
				content: "\e802"

			a
				font-family: "Source Sans Pro"
				padding-left: 5px
