{{ define "main" }}
<div id="meta">
	<h1>{{ .Title }}</h1>
	<span>{{ .Date.Format "January 2, 2006" }}</span>
	{{ if .Params.tags }}
	<div id="tags">
		<span>tags:</span>
		{{ $tags := .Params.tags }}
		{{ if not (reflect.IsSlice $tags) }}
			<a href="/blog/tags#{{ $tags }}">{{ $tags }}</a>
		{{ else }}
			{{ range $index, $tag := $tags }}
				{{ if ne $index (sub (len $tags) 1) }}
					<a href="/blog/tags#{{ $tag }}">{{ $tag }}</a>,
				{{ else }}
					<a href="/blog/tags#{{ $tag }}">{{ $tag }}</a>
				{{ end }}
			{{ end }}
		{{ end }}
	</div>
	{{ end }}
</div>

<div id="post">
	{{ if .Params.toc }}
		{{ .TableOfContents }}
		{{ .Content }}
	{{ else }}
		{{ .Content }}
	{{ end }}
</div>

{{ end }}
