<div id="header">
	<div class="header-top">
		<a class="wordmark" href="/"><span>bury the hammer</span></a>
		<div class="social">
			<a id="github" href="https://github.com/burythehammer" aria-label="GitHub"></a>
			<a id="stackoverflow" href="https://stackoverflow.com/users/976718/burythehammer" aria-label="Stack Overflow"></a>
			<a id="linkedin" href="https://www.linkedin.com/in/burythehammer" aria-label="LinkedIn"></a>
		</div>
	</div>
	<nav aria-label="Main">
		<ul>
			<li id="about"><a href="/">about</a></li>
			<li id="projects"><a href="/projects">projects</a></li>
			<li id="speaking"><a href="/speaking">speaking</a></li>
			<li id="blog"><a href="/blog">blog</a></li>
			<li id="contact"><a href="mailto:cradle-squire-gnat@duck.com">contact</a></li>
		</ul>
	</nav>
</div>
