<li class="post">
	<a class="blog-title" href="{{ .RelPermalink }}">{{ .Title }}</a>

	{{ if .Description }}
	<div class="summary">{{ .Description }}</div>
	{{ end }}

	<div class="excerpt">
		{{ .Summary }}
	</div>

	<div class="meta">
		<span class="date">{{ .Date.Format "January 2, 2006" }}</span>
		{{ if .Params.tags }}
		<div class="tags">
			{{ $tags := .Params.tags }}
			{{ if not (reflect.IsSlice $tags) }}
				<a href="/blog/tags#{{ $tags }}">{{ $tags }}</a>
			{{ else }}
				{{ range $index, $tag := $tags }}
					{{ if ne $index (sub (len $tags) 1) }}
						<a href="/blog/tags#{{ $tag }}">{{ $tag }}</a>,
					{{ else }}
						<a href="/blog/tags#{{ $tag }}">{{ $tag }}</a>
					{{ end }}
				{{ end }}
			{{ end }}
		</div>
		{{ end }}
	</div>
</li>
