<!DOCTYPE html>

<html lang="en">
	<head>
		<link rel="icon" href="data:,">
		<title>
			{{ page.title }} | bury the hammer
		</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="{{ page.description }}">
		<meta name="viewport" content="initial-scale=1">

		<style>
			div#header li#{{ page.title }} a {
				color: #ffffff;
				font-weight: bold;
			}
		</style>

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">

		<!-- Page-specific stylesheets.  -->
		{% if page.stylesheet %}
			<link rel="stylesheet" type="text/css" href="/css/{{ page.title }}.css">
		{% endif %}
		{% if page.title != "home" %}
			<link rel="stylesheet" type="text/css" href="/css/header.css">
		{% endif %}
		{% if page.code %}
			<link rel="stylesheet" type="text/css" href="/css/code_color_scheme.css">
			<link rel="stylesheet" type="text/css" href="/css/code.css">
		{% endif %}

		<!-- MathJax configuration. -->
		{% if page.math %}
			<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
			</script>
			<script>
				MathJax.Hub.Config({
					jax: ["input/TeX", "output/HTML-CSS"],
					"HTML-CSS": {
						linebreaks: {automatic: true, width: "container"}
					},
					tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
				});
			</script>
		{% endif %}

		{{ page.head }}

		<!-- Bill. -->
		<script>
			console.log("_   /|\n\\'o.O'\n=(___)=\n   U\n\nHey there.");
		</script>
	</head>
	<body>
		<div id="main">
			{% if page.title != "home" %}
				{% include header.html %}
			{% endif %}
			{{ content }}
		</div>

	</body>
</html>
